.header {
  position: fixed; 
  top: 0;     
  left: 0;
  width: 100%; 
  background-color: #1db954;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;  
}

.logo p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px; /* reducimos el gap para que no sea tan grande */
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

/* Botones del header */
.menu-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #189945; /* blanco para contrastar con el header */
  color: rgb(168, 168, 168);
  font-weight: 500;
  cursor: pointer;

}

.menu-btn:hover {
  background-color: #2e3a33;
  transform: scale(1.05);
}

/* Para marcar el botón activo (opcional) */
.menu-btn.active {
  background-color: #2e3a33;
  color: #1db954;
}

body {
  margin: 0;
  padding-top: 60px; 
}
