/* Contenedor principal del widget de tracks */
.tracks-widget {
  background: #121212;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  color: white;
  font-family: Arial, sans-serif;
}

/* Título */
.tracks-title {
  color: #1db954;
  font-size: 22px;
  margin-bottom: 15px;
}

/* Input de búsqueda */
.tracks-search-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #1db954;
  border-radius: 8px;
  background: #181818;
  color: white;
  outline: none;
  margin-bottom: 12px;
}

.tracks-search-input::placeholder {
  color: #b3b3b3;
}

/* Lista de resultados */
.tracks-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}
/* ====== CONTENEDOR DEL BOTÓN (TRACK ENTERO ES CLICABLE) ====== */
.tracks-item {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;
  padding: 12px 16px;
  margin-bottom: 10px;

  background: #181818;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

/* Hover suave */
.tracks-item:hover {
  background: #232323;
  transform: scale(1.01);
}

/* Track seleccionado — mismo estilo que artistas */
.selectedTrack {
  background: #1db95433;
  border: 1px solid #1DB954;
}

.selectedTrack:hover {
  background: #1db95433;
}

/* ====== IMAGEN DEL COVER ====== */
.tracks-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px; /* bordes suaves */
}

/* ====== NOMBRE DEL TRACK ====== */
.tracks-name {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* ====== BOTÓN DEL FAVORITO ====== */
.tracks-fav-btn {
  margin-left: auto; /* empuja el corazón a la derecha */
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 25px;
}

/* Corazón activo (más grande y color Spotify dorado) */
.tracks-fav-btn--active {
  color: #e20202;
  font-size: 25px;
}