/* Contenedor del widget */
.widget-container {
  background: #121212;
  padding: 20px;
  border-radius: 12px;
  width: 100%;          /* Cambiado de 350px a 100% */
  max-width: 100%;      /* Asegura que no se desborde */
  box-sizing: border-box; /* Incluye padding en el ancho total */
  color: white;
  font-family: Arial, sans-serif;
}

/* Título */
.widget-container h2 {
   margin-bottom: 16px; /* más separación del input */
  color: #1db954;
  font-size: 18px;
}

/* Input */
.widget-container input {
  width: 100%;
  padding: 10px;
  border: 2px solid #1db954;
  border-radius: 14px;
  background: #181818;
  color: white;
  outline: none;
  margin-bottom: 12px;
}

.widget-container input::placeholder {
  color: #b3b3b3;
}

/* Lista */
.widget-container ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.widget-container li {
  padding: 10px;
  background: #1e1e1e;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between; /* nombre ocupa centro, estrella a la derecha */
  transition:  0.2s;
}

.widget-container li:hover {
  background: #282828;
}

/* Nombre del artista */
.widget-container li span {
  flex: 1; /* ocupa el espacio entre la imagen y el botón */
}

/* Imágenes de artista */
.widget-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* Error */
.widget-container p {
  color: #d4e20a;
  margin-top: 10px;
}

.filtoArt {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;          /* ocupa todo el ancho del contenedor */
  padding: 12px 16px;
  margin-bottom: 12px;
  background: #181818;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.filtoArt:hover {
  background: #232323;
  transform: scale(1.01);
}

.filtoArt.selectedArt {
  background: #1db95433;
  border: 1px solid #1DB954;
}

.filtoArt img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
  margin-right: 6px;
}

.filtoArt span {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* Botón de favorito alineado a la derecha */
.fav-btn {
  margin-left: auto;
  cursor: pointer;
  font-size: 25px;
}

.fav-btn.fav-btn--active {
  color: #eed705;
  font-size: 30px;
}
