.genres-widget {
  background: #121212;
  padding: 20px; /* espacio interno alrededor del contenido */
  border-radius: 12px;
  box-sizing: border-box;
}

.genres-widget h2 {
  margin-bottom: 16px; /* más separación del input */
  color: #1db954;
  font-size: 18px;
}

.genres-widget input {
  width: 100%;
  padding: 12px; /* más padding dentro del input */
  margin-bottom: 16px; /* más separación debajo del input */
  border-radius: 14px;
  border: 2px solid #1db954;
  background-color: #181818;
  color: white;
  outline: none;
}

.genres-container {
  display: flex;
  gap: 16px; /* más espacio entre botones */
  overflow-x: auto; /* scroll horizontal */
  padding-bottom: 4px;
}

.genres-container::-webkit-scrollbar {
  height: 6px;
}

.genres-container::-webkit-scrollbar-thumb {
  background-color: #1db954;
  border-radius: 3px;
}

.genre-btn {
  flex-shrink: 0;
  padding: 12px 18px;
  border: none;
  border-radius: 14px;
  background-color: #181818;
  color: white;
  cursor: pointer;

}

.genre-btn:hover {
  background-color: #232323;
  transform: scale(1.03);
}

.genre-btn.selected {
  background-color: #1db95433; /* verde transparente */
  border: 1px solid #1DB954;
  color: white;
}
